<!DOCTYPE html>
<html lang="en">
  <head>
    <title>#cphftw</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta property="og:url" content="http://cphftw.dk" />
    <meta property="og:site_name" content="#cphftw"/>
    <meta property="og:type" content="website"/>

    <meta name="viewport" content="width=device-width">    
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/scripts/app.js" defer async></script>
  </head>

  <body>
    {{ content }}
  </body>

</html>